@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Onest:wght@100..900&family=Oswald:wght@200..700&display=swap");

body {
  @apply bg-white font-body text-lg font-light text-neutral-800;
}

::selection,
::moz-selection {
  @apply bg-neutral-800 text-white;
}

::-webkit-scrollbar {
  @apply w-[7px];
}

::-webkit-scrollbar-track {
  @apply border border-neutral-800 bg-white outline outline-1 outline-neutral-800;
}

::-webkit-scrollbar-thumb {
  @apply w-1 bg-neutral-800 transition-colors duration-300 hover:bg-neutral-600;
}

.astro-code {
  @apply rounded-none;
}

code::before,
code::after {
  content: "" !important;
}
