---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Leonard Tarigan">
  <main class="flex flex-col gap-2 px-5">
    <section
      class="flex h-[85dvh] flex-col items-center justify-center gap-2 text-center"
    >
      <p
        class="font-header text-4xl font-medium tracking-tight text-transparent text-outline sm:text-6xl md:text-8xl"
      >
        LEONARD TARIGAN
      </p>
      <h2 class="font-header text-7xl font-medium tracking-tight md:text-9xl">
        SOFTWARE DEV.
      </h2>
    </section>
  </main>
</BaseLayout>
