---
import { Icon } from "astro-icon/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import ProfilePic from "../assets/pic.png";
import MainLayout from "../layouts/MainLayout.astro";
---

<BaseLayout title="Profile | Leonard Tarigan">
  <MainLayout name="PROFILE" pronounciation="プロフィール">
    <div slot="box" class="flex divide-x divide-neutral-800">
      <a
        href="https://github.com/LeonardTarigan"
        class="group relative overflow-hidden p-3 transition-colors duration-300 hover:text-white"
        target="_blank"
      >
        <div
          class="absolute -top-full left-0 -z-10 size-full bg-neutral-800 transition-all duration-300 group-hover:top-0"
        >
        </div>
        <Icon name={"github-icon"} size={25} />
      </a>
      <a
        href="https://www.linkedin.com/in/leonardtarigan/"
        class="group relative overflow-hidden p-3 transition-colors duration-300 hover:text-white"
        target="_blank"
      >
        <div
          class="absolute -top-full left-0 -z-10 size-full bg-neutral-800 transition-all duration-300 group-hover:top-0"
        >
        </div>
        <Icon name={"linkedin-icon"} size={25} />
      </a>
      <a
        href="https://www.instagram.com/leonardtarigannn/"
        class="group relative overflow-hidden p-3 transition-colors duration-300 hover:text-white"
        target="_blank"
      >
        <div
          class="absolute -top-full left-0 -z-10 size-full bg-neutral-800 transition-all duration-300 group-hover:top-0"
        >
        </div>
        <Icon name={"instagram-icon"} size={25} />
      </a>
      <a
        href="https://x.com/asyncfnc"
        class="group relative overflow-hidden p-3 transition-colors duration-300 hover:text-white"
        target="_blank"
      >
        <div
          class="absolute -top-full left-0 -z-10 size-full bg-neutral-800 transition-all duration-300 group-hover:top-0"
        >
        </div>
        <Icon name={"x-icon"} size={25} />
      </a>
    </div>

    <section slot="content" class="mx-auto w-full max-w-screen-sm px-3">
      <Image
        src={ProfilePic}
        alt={"Pic"}
        class="float-left mb-3 mr-3 size-32 border border-neutral-800 bg-neutral-200 sm:mr-7 sm:size-44 md:size-52"
      />
      <div class="space-y-5">
        <p>
          <span class="font-medium">こんにちわ！</span> I’m Leonard. I recently leveled
          up from being a student at the University of Brawijaya to a full-blown
          software engineer. I’ve always had a massive passion for software engineering
          because there is nothing quite like the rush of watching a "what-if" idea
          actually come to life on a digital screen. I am a fresh graduate in Informatics
          Engineering, but my drive to build responsive and interactive products
          has been production-ready for a long time.
        </p>
        <p>
          When it comes to the technical side, I live and breathe the JavaScript
          ecosystem, specifically focusing on the web platform. I tend to view
          code as a form of art, which is why I am a huge advocate for clean
          code and paying close attention to every single line I write. Since
          the JS world moves at the speed of light and a new framework seems to
          be born every time you blink, I make it my personal mission to stay on
          top of the latest tech updates so I am never left behind.
        </p>
        <p>
          When the code editor is finally closed, I am usually deep in a
          playlist that is as diverse as my tech stack. My top five musical
          staples are prog metal, country, rock ballads, jazz fusion, and blues
          . If I am not discovering new tracks or playing guitar, you will
          probably find me locked into a gaming session or catching up on the
          latest anime.
        </p>

        <div class="flex flex-col gap-2 border border-zinc-800 p-5">
          <h3 class="text-xl font-bold">Ready to Create Something Awesome?</h3>
          <p class="text-base">
            I'm always open for collaboration and love connecting with others
            who are passionate about creating great products. Whether it's a
            unique project idea, or something creative, feel free to reach out.
            Let's build something cool and meaningful together!
          </p>
          <a
            href="mailto:leonardtarigan.dev@gmail.com"
            target="_blank"
            class="mt-5 flex items-center justify-center gap-2 border border-zinc-800 bg-zinc-800 px-5 py-2 text-base text-white transition-colors duration-300 hover:bg-white hover:text-zinc-800"
            >Reach me out <Icon name={"arrow-up-right-icon"} /></a
          >
        </div>
        <div class="grid grid-cols-2 gap-3 sm:grid-cols-3">
          <div>
            <h3 class="font-semibold">Languages</h3>
            <ul class="text-base">
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>Java</li>
              <li>SQL</li>
            </ul>
          </div>
          <div>
            <h3 class="font-semibold">Frameworks</h3>
            <ul class="text-base">
              <li>React & Next.js</li>
              <li>Vue & Nuxt.js</li>
              <li>Astro</li>
              <li>Nest.js</li>
              <li>Express.js</li>
            </ul>
          </div>
          <div>
            <h3 class="font-semibold">Others</h3>
            <ul class="text-base">
              <li>Tailwind CSS</li>
              <li>Framer Motion</li>
              <li>Shadcn UI</li>
              <li>Ant Design</li>
              <li>Material UI</li>
              <li>Figma</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </MainLayout>
</BaseLayout>
